.main {
    height: 690px;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

}

.form {
    border: 2px solid rgb(0, 255, 251);
    background-color: rgb(236, 215, 255);
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}



.form_content{
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 15px 70px;
    
}

h1{
    color: rgb(0, 93, 97);

}

label{
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(8, 109, 132);
    margin: 5px 0px;
    font-weight: bold;
    margin-left: 1px;
}

input{
    padding: 5px 0px;
    border-radius: 5px;
}

.btn {
margin-top: 5px;
margin-bottom: 10px;
}

.btn input {
font-size: 20px;
padding: 10px;
border-style: none;
border-radius: 10px;
background-color: blueviolet;
color: azure;
}

.btn input:hover {
cursor: pointer;
background-color: rgb(194, 130, 254);
color: black;
}

.btn input:active {
background-color: rgb(74, 0, 144);
}