.home{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 690px;
    }


    h1{
        font-family: 'Roboto Slab', serif;
        font-size: 74px;
        margin: 0px;
        margin-top: 15px;
        
    }

    p{
        letter-spacing: 2px;
    }

button {
    font-size: 20px;
    padding: 10px;
    border-style: none;
    border-radius: 10px;
    background-color: blueviolet;
    color: azure;
}

button:hover {
    cursor: pointer;
    background-color: rgb(194, 130, 254);
    color: black;
}

button:active {
    background-color: rgb(74, 0, 144);
}